/* body { */
/* background-color: aqua; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared-style */
.font-open-scans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;

}

.color-orrange {

    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

/* main-style */

header {
    padding-top: 50px;
    background-color: #fff8f3;
    background: url(../images/developer.png), url(../images/header_bg.png), #fff8f3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;

}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#bannar {
    /* border: 2px solid red; */
    margin: 47px 38px 0px 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannar-content {
    max-width: 585px;
    /* border: 2px solid rebeccapurple; */
}

#bannar .bannar-content h3 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#bannar .bannar-content h2 {
    font-size: 60px;
    font-weight: 800;
    color: #181818;
    margin-bottom: 20px;
}

#bannar .bannar-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#bannar .bannar-image img {
    max-width: 585px;
    vertical-align: middle;
}

#about {
    padding-top: 130px;
}

#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    border: 2px solid red;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4 {
    font-size: 20px;
}