/* body { */
/* background-color: aqua; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared-style */
.font-open-scans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;

}

.color-orrange {

    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

/* main-style */

header {
    padding-top: 50px;
    background-color: #fff8f3;
    background: url(../images/developer.png), url(../images/header_bg.png), #fff8f3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;

}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#bannar {
    /* border: 2px solid red; */
    margin: 47px 38px 0px 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannar-content {
    max-width: 585px;
    /* border: 2px solid rebeccapurple; */
}

#bannar .bannar-content h3 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#bannar .bannar-content h2 {
    font-size: 60px;
    font-weight: 800;
    color: #181818;
    margin-bottom: 20px;
}

#bannar .bannar-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#bannar .bannar-image img {
    max-width: 585px;
    vertical-align: middle;
}

#about {
    padding-top: 130px;
}

#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* border: 2px solid red; */
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4 {
    font-size: 20px;
}

#skill {
    padding-top: 130px;
}

#skill .skill-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

#skill .skill-container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0 #00000041;
    /* border: 1px solid red; */
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 18px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 14px;
    color: #757575;
    line-height: 26px;
    justify-content: center;

}

#resume {
    padding-top: 130px;

}

#resume .resume-content {
    width: 71%;
    max-width: 1140px;

    display: flex;
    margin: 113px auto 0;
    gap: 24px;
}

.resume-content hr {
    margin: 30px 0;
}

.resume-content .section-title {
    color: #474747;
    font-size: 25px;
    margin-bottom: 30px;
}

.resume-content .resume-card {
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title {
    font-size: 20px;
    color: #474747;
    /* font-weight: bold; */
    margin-bottom: 10px;
}

.resume-card .card-info {
    font-size: 15px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume-card .card-text {
    font-size: 11px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

footer {
    margin-top: 130px;
    background-color: #fff8f3;
    padding: 130px 0;
}

footer .footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}


.footer-container h2 {
    color: #181818;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-container .social {
    max-width: 562px;
}

.footer-container .social p {
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .icon a {
    margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}